<% content_for(:page_title, "Photos") %>
<% content_for(:page_actions) do %>
  <div class="btn-list">
    <%= link_to new_upload_path, class: "btn btn-primary d-none d-sm-inline-block" do %>
      <i class="ti ti-upload icon"></i>
      Upload Photos
    <% end %>
    <%= link_to new_photo_path, class: "btn btn-secondary d-none d-sm-inline-block" do %>
      <i class="ti ti-plus icon"></i>
      Add Photo
    <% end %>
  </div>
<% end %>
<div class="row row-cards">
  <% @photos.each do |photo| %>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card card-sm">
        <%= link_to photo_path(photo), class: "d-block" do %>
          <% if photo.image.attached? %>
            <%= image_tag photo.image.variant(:thumb), class: "card-img-top", style: "aspect-ratio: 1/1; object-fit: cover;" %>
          <% else %>
            <div class="card-img-top bg-secondary-lt d-flex align-items-center justify-content-center" style="aspect-ratio: 1/1;">
              <i class="ti ti-photo text-secondary" style="font-size: 3rem;"></i>
            </div>
          <% end %>
        <% end %>
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <div class="text-truncate" style="max-width: 200px;" title="<%= photo.display_title %>">
                <%= link_to photo.display_title, photo_path(photo), class: "text-body fw-bold" %>
              </div>
              <div class="text-secondary text-truncate" style="max-width: 200px;">
                <i class="ti ti-calendar icon icon-sm me-1"></i><%= photo.date_text.presence || "Unknown date" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
