<% content_for(:page_title, "Photos") %>
<% content_for(:page_actions) do %>
  <div class="btn-list">
    <% if @photos.any? %>
      <%= link_to new_storytelling_session_path, class: "btn btn-primary d-none d-sm-inline-block", data: { storytelling_btn: true } do %>
        <i class="ti ti-microphone icon"></i>
        Tell Stories
      <% end %>
    <% end %>
    <%= link_to new_upload_path, class: "btn btn-primary d-none d-sm-inline-block" do %>
      <i class="ti ti-upload icon"></i>
      Upload Photos
    <% end %>
    <%= link_to new_photo_path, class: "btn btn-secondary d-none d-sm-inline-block" do %>
      <i class="ti ti-plus icon"></i>
      Add Photo
    <% end %>
  </div>
<% end %>
<div class="row row-cards" data-controller="photo-view" data-photo-view-photo-ids-value="<%= @photos.pluck(:id).to_json %>">
  <% @photos.each do |photo| %>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card card-sm">
        <%= link_to "#", class: "d-block", data: { action: "click->photo-view#open", "photo-view-photo-id-value": photo.id } do %>
          <% if photo.original.attached? %>
            <%= image_tag photo.oriented_variant(:thumb), class: "card-img-top", style: "aspect-ratio: 1/1; object-fit: cover;" %>
          <% else %>
            <div class="card-img-top bg-secondary-lt d-flex align-items-center justify-content-center" style="aspect-ratio: 1/1;">
              <i class="ti ti-photo text-secondary" style="font-size: 3rem;"></i>
            </div>
          <% end %>
        <% end %>
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div>
              <div class="text-truncate" style="max-width: 200px;" title="<%= photo.display_title %>">
                <%= link_to photo.display_title, photo_path(photo), class: "text-body fw-bold" %>
              </div>
              <div class="text-secondary text-truncate" style="max-width: 200px;">
                <i class="ti ti-calendar icon icon-sm me-1"></i><%= photo.date_text.presence || "Unknown date" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  if (!window.MediaRecorder) {
    document.querySelector('[data-storytelling-btn]')?.remove()
  }
</script>
